@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

// Variables
$colour-1: #FAFAFA;
$colour-2: #F5F5F5;
$colour-3: #63707E;
$colour-4: #222222;
$colour-5: #CE2231;
$colour-6: #1C5D99;
$colour-printables: #FA6831;
$colour-voron: #FF2300;

$h1: 2.5rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1.125rem;
$p: 1rem;

$nav: 4rem;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: $colour-2;
}

nav {
    background: $colour-5;
    top: 2.5vh;
    height: $nav;
    width: calc(100vw - 40px);
    z-index: 10;
    position: fixed;
    border-radius: .5rem;
    padding: 0 20px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        flex: 1;
        align-items: center;
            
        width: calc(100vw - 100px);
        max-width: 1200px;
        margin: 0 auto;
    }

    .logo-wrapper {
        display: contents;
        text-decoration: none;

        .logo {
            filter: invert(100%);
            height: 3rem;
            z-index: 11;
        }
    
        h1 {
            color: $colour-1;
            margin: 0 auto;
        }
    }

    // Web & Mobile Nav Links
    .nav-links {
        background-color: $colour-5;
        top: -100%;
        left: 0;
        width: calc(100vw - 40px);
        z-index: 11;
        position: fixed;
        margin: 20px 20px;
        text-align: center;
        list-style: none;
        transition: all .5s ease-in-out;
        border-radius: .5rem;

        li {
            a {
                background-color: $colour-6;
                color: $colour-1;
                display: block;
                margin: 2rem auto;
                cursor: pointer;
                font-weight: 700;
                font-size: $h2;
                text-decoration: none;
                text-align: center;
                border-radius: .5rem;
                width: 90%;
                padding: 1rem;
                transition: background-color 0.3s;

                &:hover {
                    background-color: darken($colour-6, 10%);
                }
            }
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-top: 2rem;
        width: 90%;

        .dropdown-button {
            font-family: 'Manrope', sans-serif;
            background-color: $colour-6;
            color: $colour-1;
            display: block;
            cursor: pointer;
            font-weight: 700;
            font-size: $h2;
            text-decoration: none;
            text-align: center;
            border-radius: .5rem;
            padding: 1rem;
            border: none;
            width: 100%;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken($colour-6, 10%);
            }
        }

        &:hover .dropdown-menu {
            display: block;
        }
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        background-color: $colour-5;
        list-style: none;
        padding: 0;
        border-radius: 0.5rem;
        padding-left: 0; // Reset padding
        width: 100%;

        li {
            margin: 0;

            a {
                display: block;
                padding: 1rem;
                text-decoration: none;
                color: $colour-1;
                font-weight: 700;
                text-align: center;
                border-radius: 0.5rem;

                transition: background-color 0.3s;

                &:hover {
                    background-color: darken($colour-6, 10%);
                }
            }
        }
    }

    #hamburger-icon {
        font-size: 4vh;
        color: $colour-1;
        order: 1;
        z-index: 11;
        cursor: pointer;
        margin-left: auto;
    }

    label#hamburger-icon {
        display: block;
    }

    #hamburger {
        display: none;
    }

    #hamburger:checked~.nav-links {
        top: calc(2.5vh + $nav - 0.5rem);
    }
}

main {
    padding: $nav 0 2.5rem 0;
    width: calc(100vw - 80px);
    max-width: 1200px;
    margin: auto;

    h1 {
        font-size: $h1;
    }

    h2 {
        font-size: $h2;
    }

    h3 {
        font-size: $h3;
    }

    p {
        font-size: $p;
    }

    a {
        font-size: $p;
        text-decoration: none;
    }

    ul {
        list-style: none;
    }
}

.wrapper-page {
    display: flex;
    flex-direction: column;
}

.page {
    mark {
        background: none;
        color: $colour-6;
    }

    .button {
        display: block;
        cursor: pointer;
        font-weight: 700;
        font-size: $p;
        text-decoration: none;
        text-align: center;
        border-radius: .5rem;
        width: fit-content;
        max-width: 15rem;
        padding: 1rem;

        &:hover,
        &:focus {
            filter: brightness(1.2);
            transition: .5s;
        }
    }

    .button-printables {
        color: $colour-1;
        background-color: $colour-printables;
        margin: 2rem auto;
        padding: 0.5rem;
    }

    .button-voron {
        color: $colour-1;
        background-color: $colour-voron;
        margin: 2rem auto;
        padding: 0.5rem;
    }

    .button-projects {
        color: $colour-1;
        background-color: $colour-5;
        margin: 0 auto;
        padding: 1rem;
    }

    .button-learn {
        color: $colour-1;
        background-color: $colour-6;
        margin: 0 auto;
        padding: 0.5rem;
    }
}

.about {
    color: $colour-4;
    padding-top: 3rem;

    h1 {
        font-size: $h1;
    }

    h2 {
        padding-top: 1rem;
        font-size: $p;
    }

    .wrapper-hero-paragraph {
        padding-top: 3rem;

        p {
            padding-bottom: 1rem;
        }
    }

    .box-2 {
        display: grid;
        justify-items: center;

        .project-of-month {
            margin: 1rem 0 0 0;
            width: 80vw;
            border: .5rem solid $colour-4;
            border-radius: .5rem;
        }

        .link-project-of-month {
            padding: .5rem 0 1rem 0;
            color: $colour-5;
        }
    }

    .wrapper-benefits {
        padding-bottom: 3rem;

        h1 {
            padding-top: 0;
            font-size: $h1;
        }

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            li {
                text-align: center;
                flex: 1 1 25%;
                box-sizing: border-box;
                max-width: 25%;
    
                @media (max-width: 850px) {
                    flex: 1 1 50%; // Two items per row for smaller screens
                    max-width: 50%;
                }
    
                @media (max-width: 600px) {
                    flex: 1 1 100%; // One item per row for very small screens
                    max-width: 100%;
                }

                i {
                    padding-top: 2rem;
                    padding-bottom: 1rem;
                    font-size: 5rem;
                }
            }
        }
    }
}

.projects,
.insights {
    color: $colour-4;

    h1 {
        padding-top: 3rem;
    }

    .wrapper-card {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;

        .card {
            background: $colour-3;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            border-radius: 1em;
            max-width: 300px;
            min-width: 250px;
            width: 90vw;
            height: 25rem;
            margin: 2rem;

            .button-1 {
                color: $colour-1;
                background-color: $colour-5;
                min-width: 15rem;
                margin-bottom: 2rem;
            }
    
            .button-center {
                display: flex;
                justify-content: center;
                width: 100%;
            }

            h1 {
                color: $colour-1;
                flex: 1;
                text-align: center;
                max-width: 90%;
            }
    
            h3 {
                padding-top: 1rem;
                color: $colour-1;
                flex: 1;
                text-align: center;
            }
    
            p {
                margin: 1rem 0;
                width: 15em;
                font-style: italic;
                text-align: center;
                color: $colour-1;
                flex: 1;
            }
        }
    }
}

.photos {
    color: $colour-4;

    h1 {
        font-size: $h1;
        padding-top: 6rem;
    }
}

.printing,
.drafting,
.electronics,
.programming {
    h1 {
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: $h1;
    }

    p {
        padding-bottom: 1rem;
    }

    .wrapper-benefits {
        h1 {
            padding-top: 0;
            padding-bottom: 1rem;
            font-size: $h3;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style: none;

            li {
                text-align: center;
                flex: 1;

                p {
                    display: none;
                }

                i {
                    padding: 1rem 0;
                    font-size: $h1;

                    .benefit-1 {
                        color: $colour-2;
                    }

                    .benefit-2 {
                        color: $colour-3;
                    }

                    .benefit-3 {
                        color: $colour-6;
                    }
                }
            }
        }
    }

    .wrapper-photos .thumb {
        max-height: 300px;
    }
}

.project,
.insight {
    padding-top: 3rem;
    padding-bottom: 3rem;

    a {
        color: $colour-5;
    }

    h2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    h3 {
        padding-bottom: 1rem;
    }

    p {
        font-size: $p;
        padding-bottom: 1rem;
    }

    ul {
        list-style-type: disc;
        padding-left: 1rem;

        li {
            padding-bottom: .5rem;
        }
    }

    .wrapper-photos .thumb {
        max-height: 350px;
    }

    .wrapper-buttons {
        display: flex;
        justify-content: center;

        .button {
            margin: 0 5%;
        }
    }
}

.contact {
    color: $colour-4;
    padding-top: 3rem;
}

#wrapper-contact {
    .form-area {
        width: 100%;
        display: flex;
        margin: auto;
        flex-direction: column;

        .contact-text {
            flex-basis: 100%;
            align-self: center;

            h1 {
                font-size: $h1;
                color: $colour-4;
            }

            h2 {
                font-size: $p;
                padding-top: 1em;
            }

            p {
                padding-top: 1rem;
                font-size: $p;
            }
        }

        .form-text {
            flex-basis: auto;

            .field {
                width: 100%;
                position: relative;
                margin: 2em auto 1em;
                background-color: $colour-2;
            }

            .fieldtext .label {
                position: absolute;
                transform: scale(0.8) translateY(0rem);
            }

            .label {
                font-size: $h4;
                color: $colour-5;
                z-index: 1;
                display: block;
                position: absolute;
                transform: translateY(-1.9rem);
                transform-origin: 0%;
                transition: transform .4s;
            }

            .field:focus-within .label,
            .input:not(:placeholder-shown)+.label {
                transform: scale(0.8) translateY(-4em);
            }

            .input {
                outline: none;
                border: none;
                border-bottom: 2px solid $colour-5;
                overflow: hidden;
                margin: 0;
                width: 100%;
                padding: .25em;
                background: none;
                font-family: 'Manrope', sans-serif;
                color: $colour-4;
                font-size: $p;
                font-weight: 500;

                &:valid {
                    border-bottom: 2px solid yellowgreen;
                }

                &:invalid {
                    border-bottom: 2px solid red;
                }

                &:focus,
                &:valid,
                &:invalid {
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            }

            textarea {
                border: none;
                border-bottom: 2px solid $colour-5;
                overflow: hidden;
                resize: none;
                margin: 2em auto 1em;
                padding: .25rem;
                width: 100%;
                height: 10em;
                background-color: $colour-2;
                font-family: 'Manrope', sans-serif;
                color: $colour-4;
                font-size: $p;
                font-weight: 500;

                &:focus {
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    outline: none;
                }
            }

            .form-button-contact {
                background-color: $colour-5;
                color: $colour-1;
                border: none;
                margin: auto;
                margin-bottom: 2rem;
                padding: 0.5rem;
                min-width: auto;
            }
        }
    }
}

.wrapper-photos {
    text-align: center;

    img {
        border-radius: .5rem;
        border: .5rem solid $colour-4;
        margin: .5rem;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .thumb {
        display: inline;
        max-width: calc(100vw - 80px);
        transition: transform .5s;
        animation: fadeIn .5s .25s backwards;
    }

    .lightbox {
        display: none;
        /**sets the default display to hide the lightbox until it's the :target**/
        position: fixed;
        /**the rest of this styling makes the lightbox full screen when selected**/
        z-index: 999;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 0;
        left: 0;
        background: rgba(34, 34, 34, .8);

        .slide {

            /**sets the styling of the image in the lightbox**/
            p {
                color: $colour-2;
                font-size: $p;
            }

            a {
                color: $colour-5;
                font-size: $p;
                text-decoration: underline;
            }

            img {
                max-width: 80vw;
                max-height: 80vh;
                margin: 0;
            }

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:target {
            /**this is where the magic happens. makes the lightbox display when it's the target of a clickable link**/
            outline: none;
            display: block;
        }

        .previous {
            /**styling the left arrow**/
            font-size: $h2;
            position: fixed;
            left: 2.5%;
            top: 49%;
            width: $h1;
            color: $colour-1;
        }

        .exit {
            /**styling the exit button**/
            font-size: $h2;
            position: fixed;
            top: 5%;
            right: 2.5%;
            width: $h1;
            color: $colour-1;
        }

        .next {
            /**styling the right arrow**/
            font-size: $h2;
            position: fixed;
            right: 2.5%;
            top: 49%;
            width: $h1;
            color: $colour-1;
        }
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    overflow: hidden;
    background-color: $colour-4;

    color: $colour-1;
    font-size: $p;
    font-weight: 500;
    text-align: center;
    line-height: 2.5rem;
}

@media screen and (min-width: 850px) {
    nav {
        position: static;
        border-radius: 0;
        margin: 0;
        width: 100%;

        .logo-wrapper {
            display: flex;
            align-items: center;

            .logo {
                padding-right: 1rem;
            }
        }

        .nav-links {
            position: static;
            margin: 0;
            width: auto;
            height: 4vh;
            background: none;

            li {
                display: inline-block;
                margin: 0 .5em;

                a {
                    margin: 0;
                    padding: 0 1em;
                    height: 4vh;
                    line-height: 4vh;
                    width: auto;
                    background: none;
                    transition: transform .5s;

                    &:hover {
                        background: none;
                        transform: scale(1.1);
                    }
                }
            }
        }

        .dropdown {
            margin-top: 0;
            text-align: center;
            width: auto;

            .dropdown-button {
                background: none;
                margin-bottom: 20px;
                padding: 0 1rem;
                height: 4vh;
                line-height: 4vh;
                width: auto;
                background: none;
                transition: transform .5s;

                &:hover {
                    background: none;
                    transform: scale(1.1);
                }
            }

            .dropdown-menu {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                background: $colour-5;
                list-style: none;
                padding: 1rem;

                width: fit-content;
                min-width: 100%;

                li {
                    a {
                        padding-bottom: 1rem;
                    }
                }
            }
        }

        #hamburger-icon {
            display: none;
        }

        label#hamburger-icon {
            display: none;
        }
    }

    .wrapper-photos {
        .thumb:hover {
            transform: scale(1.1);
        }
    }

    .about {
        p {
            display: inline-block;
        }

        .wrapper-hero {
            display: flex;

            .box-1 {
                padding: 0 2rem 0 0;
            }

            .box-2 .project-of-month {
                width: 30vw;
                max-width: 500px;
            }
        }

        .wrapper-benefits {
            margin-top: 4em;

            h1 {
                font-size: $h2;
            }

            ul {
                flex-wrap: no-wrap;

                li {
                    flex: 1 1 30%;

                    p {
                        display: inline-block;
                    }

                    i {
                        font-size: $h1;
                    }

                    a {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    .projects,
    .insights {
        .wrapper-card {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .card {
                margin: 2rem;
                transition: transform .5s;
            }

            @keyframes fadeIn {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            .card:nth-child(1) {
                animation: fadeIn .5s .25s backwards;
            }

            .card:nth-child(2) {
                animation: fadeIn .5s .5s backwards;
            }

            .card:nth-child(3) {
                animation: fadeIn .5s .75s backwards;
            }

            .card:hover {
                transform: scale(1.1);
            }
        }
    }

    .project,
    .insight {

        .wrapper-hero,
        .wrapper-main {
            display: flex;
            flex-direction: column;
            padding-bottom: 3rem;

            .box-1 {
                padding: 0 2rem 0 0;
                flex-grow: 1;
            }
        }
    }

    .printing,
    .drafting,
    .electronics,
    .programming {
        .wrapper-benefits {
            ul {
                flex-direction: row;

                li {
                    p {
                        display: block;
                    }
                }
            }
        }
    }

    #wrapper-contact {
        .form-area {
            flex-direction: row;
            justify-content: space-between;

            .contact-text {
                align-self: normal;

                h1 {
                    padding: 0;
                }
            }

            .form-text {
                width: 100vw;
            }
        }
    }

    #contact {
        #wrapper-contact {
            .form-area {
                .form-text {
                    width: 50vw;
                }
            }
        }
    }
}