@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: #DDDDDD;
}

nav {
  background: #CE2231;
  top: 2.5vh;
  height: 5rem;
  width: 95%;
  z-index: 10;
  position: fixed;
  border-radius: 0.5rem;
  padding: 0 2.5vw;
  margin: 0 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  height: 3rem;
  z-index: 11;
}

nav h1 a {
  color: #FAFAFA;
  text-decoration: none;
}

nav .nav-links {
  background-color: #639FAB;
  top: 12vh;
  width: 90%;
  left: 100%;
  height: 43vh;
  z-index: 11;
  position: fixed;
  border-radius: 5px;
  margin: 0 5%;
  text-align: center;
  list-style: none;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

nav .nav-links li a {
  display: block;
  color: #FAFAFA;
  font-size: 1.5rem;
  font-weight: 700;
  width: 80vw;
  margin: 6vh 5vw 0;
  line-height: 6vh;
  text-decoration: none;
}

nav .nav-links li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .1s;
  transition: .1s;
}

nav #hamburger-icon {
  font-size: 4vh;
  color: #FAFAFA;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 11;
  cursor: pointer;
}

nav label#hamburger-icon {
  display: block;
}

nav #hamburger {
  display: none;
}

nav #hamburger:checked ~ .nav-links {
  left: 0%;
}

main {
  padding-top: 10vh;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  padding: 10%;
}

.page ul {
  list-style: none;
}

.page a {
  text-decoration: none;
}

.page mark {
  background: none;
  color: #1C5D99;
}

.page .btn {
  display: block;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}

.page .btn:hover, .page .btn:focus {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-transition: .5s;
  transition: .5s;
}

.about {
  color: #222222;
}

.about h1 {
  font-size: 2.5rem;
}

.about h2 {
  padding-top: 1em;
  font-size: 1rem;
}

.about p {
  padding-top: .5em;
  display: none;
}

.about .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .btn-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about .btn {
  margin: 2em 0 0;
  width: 10em;
  height: 3em;
  line-height: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .btn:first-child {
  margin-right: 4em;
}

.about .btn-contact {
  color: #FAFAFA;
  background-color: #CE2231;
}

.about .btn-projects {
  color: #FAFAFA;
  background-color: #1C5D99;
}

.about .benefits-wrapper {
  margin-top: 2em;
}

.about .benefits-wrapper h1 {
  font-size: 1.25rem;
}

.about .benefits-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .benefits-wrapper ul .benefit {
  width: 100%;
}

.about .benefits-wrapper ul li {
  text-align: center;
  padding: 0 1em 0 1em;
}

.about .benefits-wrapper ul li p {
  display: none;
}

.about .benefits-wrapper ul li i {
  font-size: 3em;
  padding: .6em 0;
}

.about .benefits-wrapper ul li i#benefit-1 {
  color: #CE2231;
}

.about .benefits-wrapper ul li i#benefit-2 {
  color: #639FAB;
}

.about .benefits-wrapper ul li i#benefit-3 {
  color: #1C5D99;
}

.projects {
  background-color: #639FAB;
  color: #222222;
}

.projects h1 {
  font-size: 2.5rem;
  padding: 0 0 1em;
}

.projects .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .card-wrapper .card {
  background: #CE2231;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1em;
  max-width: 300px;
  min-width: 250px;
  width: 90vw;
  height: 25em;
  margin: 2em;
}

.projects .card-wrapper .card .btn {
  padding: 1rem 2rem;
  border-radius: .5em;
  margin: .5rem 0;
  width: 15em;
  color: #FAFAFA;
  background: #222222;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.projects .card-wrapper .card .btn:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-transition: .5s;
  transition: .5s;
}

.projects .card-wrapper .card h1 {
  font-size: 2em;
  color: #FAFAFA;
}

.projects .card-wrapper .card p {
  font-size: 1em;
  margin: 1em 0;
  width: 15em;
  font-style: italic;
  text-align: center;
  color: #FAFAFA;
}

.contact {
  color: #FAFAFA;
}

.contact .contact-wrapper .form-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-wrapper .form-area .contact-text {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact .contact-wrapper .form-area .contact-text h1 {
  font-size: 2.5rem;
  color: #CE2231;
}

.contact .contact-wrapper .form-area .contact-text h2 {
  font-size: 1rem;
  padding-top: 1em;
}

.contact .contact-wrapper .form-area .form-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contact .contact-wrapper .form-area .form-text .field {
  width: 100%;
  position: relative;
  margin: 2em auto 1em;
  background-color: #639FAB;
}

.contact .contact-wrapper .form-area .form-text .fieldtext .label {
  position: absolute;
  -webkit-transform: scale(0.8) translateY(0rem);
          transform: scale(0.8) translateY(0rem);
}

.contact .contact-wrapper .form-area .form-text .label {
  font-size: 1.125rem;
  color: #CE2231;
  z-index: 1;
  display: block;
  position: absolute;
  -webkit-transform: translateY(-1.9rem);
          transform: translateY(-1.9rem);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.contact .contact-wrapper .form-area .form-text .field:focus-within .label, .contact .contact-wrapper .form-area .form-text .input:not(:placeholder-shown) + .label {
  -webkit-transform: scale(0.8) translateY(-4em);
          transform: scale(0.8) translateY(-4em);
}

.contact .contact-wrapper .form-area .form-text .input {
  outline: none;
  border: none;
  border-bottom: 2px solid #CE2231;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: .25em 0;
  background: none;
  font-family: 'Manrope', sans-serif;
  color: #222222;
  font-size: 1rem;
  font-weight: 500;
}

.contact .contact-wrapper .form-area .form-text .input:valid {
  border-bottom: 2px solid yellowgreen;
}

.contact .contact-wrapper .form-area .form-text .input:invalid {
  border-bottom: 2px solid red;
}

.contact .contact-wrapper .form-area .form-text .input:focus, .contact .contact-wrapper .form-area .form-text .input:valid, .contact .contact-wrapper .form-area .form-text .input:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact .contact-wrapper .form-area .form-text textarea {
  border: none;
  border-bottom: 2px solid #CE2231;
  overflow: hidden;
  resize: none;
  margin: 2em auto 1em;
  width: 100%;
  height: 10em;
  background-color: #639FAB;
  font-family: 'Manrope', sans-serif;
  color: #222222;
  font-size: 1rem;
  font-weight: 500;
}

.contact .contact-wrapper .form-area .form-text textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.contact .contact-wrapper .form-area .form-text .btn-contact {
  padding: 1.25em 3em;
  margin-top: 2em;
  background-color: #CE2231;
  color: #FAFAFA;
  width: 100%;
  border: none;
}

footer {
  position: relative;
  height: 5vh;
  background-color: #222222;
  color: #FAFAFA;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 5vh;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1.1em;
  }
  nav {
    position: static;
    margin-top: 3vh;
  }
  nav .nav-links {
    position: static;
    margin-right: 0%;
    background: none;
    width: auto;
    height: 4vh;
  }
  nav .nav-links li {
    display: inline-block;
    margin: 0 .5em;
  }
  nav .nav-links li a {
    margin: 0;
    padding: 0 1em;
    height: 4vh;
    line-height: 4vh;
    width: auto;
  }
  nav #hamburger-icon {
    display: none;
  }
  nav label#hamburger-icon {
    display: none;
  }
  main {
    padding: 0;
  }
  .about {
    min-height: 91vh;
  }
  .about p {
    display: inline-block;
  }
  .about .benefits-wrapper {
    margin-top: 4em;
  }
  .about .benefits-wrapper ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .about .benefits-wrapper ul li p {
    display: inline-block;
  }
  .about .benefits-wrapper ul li i {
    font-size: 5em;
  }
  .projects .card-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .card-wrapper .card {
    margin: 2em;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .projects .card-wrapper .card:nth-child(1) {
    -webkit-animation: fadeIn .5s .25s backwards;
            animation: fadeIn .5s .25s backwards;
  }
  .projects .card-wrapper .card:nth-child(2) {
    -webkit-animation: fadeIn .5s .5s backwards;
            animation: fadeIn .5s .5s backwards;
  }
  .projects .card-wrapper .card:nth-child(3) {
    -webkit-animation: fadeIn .5s .75s backwards;
            animation: fadeIn .5s .75s backwards;
  }
  .projects .card-wrapper .card:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .contact .contact-wrapper {
    margin-top: 7%;
  }
  .contact .contact-wrapper .form-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */