<!-- _includes/clients.html -->

<div class="wrapper-clients">
	<h2>Trusted by</h2>
	<div class="center">
		<div class="wrapper-scroll">
			<div class="client client-1">
				<img src="" alt="">
				<blockquote>“Not knowing anything about 3D printing—but
					having a
					clear idea of what I wanted—Ryan made the whole
					process incredibly easy and stress-free. The
					final product ... exceeded my expectations.” –
					Craig Hallam</blockquote>
			</div>
			<div class="client client-2">
				<img src="" alt="">
				<blockquote>“Ryan reproduced a couple of hard-to-find parts for some vintage
					equipment. The replacements fit perfectly and saved a lot of
					hassle.” –
					Chris Adams</blockquote>
			</div>
		</div>
	</div>
</div>