<div class="wrapper-clients">
	<h2>Trusted by</h2>
	<div class="center">
		<div class="wrapper-scroll">
			<div class="client client-1">
				<img src="" alt="">
				<blockquote>“Lorem ipsum dolor sit amet consectetur
					adipisicing elit. Sed, non hic. Aliquam magni
					porro impedit, delectus atque velit quos rem sed
					ex nostrum excepturi at numquam aliquid.
					Nostrum, odit a?”</blockquote>
			</div>
			<div class="client client-2">
				<img src="" alt="">
				<blockquote>“Lorem ipsum dolor sit, amet consectetur
					adipisicing elit. Cumque, doloremque atque.
					Quidem amet animi aliquam illo inventore rerum
					accusantium ipsam! Eveniet quas sunt dolore
					repudiandae pariatur deleniti iste excepturi
					repellendus.”</blockquote>
			</div>
			<div class="client client-3">
				<img src="" alt="">
				<blockquote>“Not knowing anything about 3D printing—but
					having a
					clear idea of what I wanted—Ryan made the whole
					process incredibly easy and stress-free. The
					final product ... exceeded my expectations.” –
					Craig Hallam</blockquote>
			</div>
		</div>
	</div>
</div>