<!-- _includes/faq.html -->

<h2>Common questions</h2>
<div class="entry-questions">
{% for faq in include.faqs %}
<details>
	<summary>{{ faq.question }}</summary>
	<p>{{ faq.answer }}</p>
</details>
{% endfor %}
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {% for faq in include.faqs %}
    {
      "@type": "Question",
      "name": {{ faq.question | jsonify }},
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ faq.answer | strip_html | jsonify }}
      }
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
