{% case include.name %}
	{% when 'box' %}{% include lucide/box.svg %}
	{% when 'compass' %}{% include lucide/compass.svg %}
	{% when 'cpu' %}{% include lucide/cpu.svg %}
	{% when 'factory' %}{% include lucide/factory.svg %}
	{% when 'gauge' %}{% include lucide/gauge.svg %}
	{% when 'layers' %}{% include lucide/layers.svg %}
	{% when 'plug' %}{% include lucide/plug.svg %}
	{% when 'scan-line' %}{% include lucide/scan-line.svg %}
	{% when 'settings' %}{% include lucide/settings.svg %}
	{% when 'shield-check' %}{% include lucide/shield-check.svg %}
	{% when 'wrench' %}{% include lucide/wrench.svg %}
	{% when 'zap' %}{% include lucide/zap.svg %}
{% endcase %}
