// _sass/pages/_service.scss

@use "../settings" as s;

.printing,
.drafting,
.electronics,
.programming {
	padding-top: 3rem;

	.wrapper-hero-paragraph {
		padding-top: 3rem;

		p {
			padding-bottom: 1rem;
		}

		padding-bottom: 1rem;
	}

	.wrapper-benefits {
		padding-bottom: 1rem;

		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			list-style: none;

			li {
				padding: 1rem;
				text-align: center;
				flex: 1;

				p {
					display: none;
				}

				.benefit {
					color: s.$colour_text_muted;
					padding: 1rem 0;
					font-size: s.$type_h1;
				}
			}
		}
	}

	.wrapper-photos {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.wrapper-photos .thumb {
		max-height: 300px;
	}

	#wrapper-contact {
		h2 {
			padding-bottom: 1rem;
		}
	}
}

@include s.respond(lg) {

	.printing,
	.drafting,
	.electronics,
	.programming {
		padding-top: 0;

		.wrapper-benefits {
			ul {
				flex-direction: row;

				li {
					p {
						display: block;
					}
				}
			}
		}
	}
}
