/* Colors */
$colour-1: #FAFAFA !default;
$colour-2: #F5F5F5 !default;
$colour-3: #63707E !default;
$colour-4: #222222 !default;
$colour-5: #CE2231 !default;
$colour-6: #1C5D99 !default;
$colour-printables: #FA6831 !default;
$colour-voron: #FF2300 !default;

/* Type scale */
$h1: 2.5rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1.125rem !default;
$p: 1rem !default;

/* Layout */
$nav: 4rem !default;
$max-width: 1200px !default;
$gutter: 20px !default;
$dropdown-gap: 1rem !default;