// _sass/components/_lightbox.scss

@use "../settings" as s;

.wrapper-photos {
	/* FLEX gallery */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
	text-align: center;

	>a {
		flex: 0 1 300px;
		display: block;
		border: .5rem solid s.$colour_text_muted;
		border-radius: .5rem;
		overflow: hidden;
		transition: transform .5s;
	}

	a {
		aspect-ratio: 4 / 3;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	picture,
	img {
		display: block;
		width: 100%;
		height: auto;
	}

	.lightbox .slide img {
		max-width: 80vw;
		max-height: 80vh;
		margin: 0;
		border: 0;
		border-radius: 0;
	}

	/* LIGHTBOX (no border on full image) */
	.lightbox {
		display: none;
		position: fixed;
		z-index: 999;
		inset: 0;
		background: rgba(34, 34, 34, .8);

		.slide {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			img {
				max-width: 80vw;
				max-height: 80vh;
				margin: 0;
				border: 0;
				border-radius: 0;
			}

			p {
				padding-top: 1rem;
				color: s.$colour_surface;
				font-size: s.$type_p;
			}

			a {
				color: s.$colour_accent_brand;
				font-size: s.$type_p;
				text-decoration: underline;
			}
		}

		&:target {
			display: block;
		}

		.previous,
		.next,
		.exit {
			position: fixed;
			width: s.$type_h1;
			color: s.$colour_surface;
			font-size: s.$type_h2;
		}

		.previous {
			left: 2.5%;
			top: 49%;
		}

		.next {
			right: 2.5%;
			top: 49%;
		}

		.exit {
			right: 2.5%;
			top: 5%;
		}
	}
}

/* Desktop hover scale */
@include s.respond(lg) {

	.wrapper-photos>a:hover {
		transform: scale(1.1);
	}
}