<!doctype html>
<html lang="en">

<head>{% include head.html %}</head>

<body>
	{% include nav.html %}
	<main>
		<div class="wrapper-page">
			<section class="page {{ page.collection | default: 'page' }}" id="entry">
				<div class="wrapper-hero">
					<div class="box-1">
						<h1>{{ page.title }}</h1>
						<h3>
							{% if page.date %}{{ page.date | date: "%Y-%-m-%-d" }}{% endif
							%}
							{% if page.author %} • {{ page.author }}{% endif %}
						</h3>
						{{ content }}
					</div>
					<div class="box-2">
						{% if page.images %}
						<h2>Images</h2>
						{% assign lb_id = page.slug | default: page.id %}
						{% include lightbox.html images=page.images id=lb_id %}
						{% endif %}
					</div>
				</div>
			</section>
		</div>
	</main>
	{% include footer.html %}
</body>

</html>