// _sass/layout/_wrapper.scss

@use "../settings" as s;

.site-container {
	flex: 1 0 auto;
	width: 100%;
	max-width: s.$layout_max_width;
	margin: 0 auto;
	background-color: s.$colour_surface;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04);
}

main {
	padding: s.$layout_nav_height 2rem s.$layout_page_bottom_space;
}

.wrapper-page {
	display: flex;
	flex-direction: column;
}

.page {
	padding-top: 3rem;

	.wrapper-hero-paragraph {
		padding-top: 2rem;

		p {
			padding-bottom: 0.75rem;
		}
	}
}

.page mark {
	background: none;
	color: s.$colour_accent_tech;
}

@include s.respond(lg) {
	.page {
		padding-top: 0;
	}
}
